<!DOCTYPE html>
<html>
    <head>
        <title>
            并非关于吃的一切
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        {{ template "common/_styles.html" . }}
    </head>
    <body>
        <div class="bingfei-header">
            {{ template "common/_header.html" . }}
        </div>

        <div class="bingfei-container">
            {{ template "content" . }}
        </div>

        <div class="bingfei-footer">
            {{ template "common/_footer.html" . }}
        </div>
        {{ template "common/_scripts.html" . }}
    </body>
</html>
