{{ template "base.html" . }}

{{ define "content" }}
<div class="container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Article List</div>

        <div class="loading" ng-show="taskListLoading">
          <div class="ball1"></div>
        </div>
        <!-- Table -->
        <table class="table">
            {{ range $key, $article := .articles }}
            <tr class="clickable">
                <td>{{ $article.Title }}</td>
            </tr>
            {{ end }}
        </table>

    </div>
</div>
{{ end }}
